.makeAddr {
	display: flex;
	background:#fff;
}
.makeAddr input {
	position: relative;
	height: 50px;
	padding: 0 20px;
}
.makeAddr .forms {
	position: relative;
	flex: 1;
	margin-left: -1px;
}
.makeAddr .select {
	flex: 1;
	max-width: 160px;
}
.makeAddr .addr {
	flex: 2;
}
.makeAddr .name:hover:before,
.makeAddr .phone:hover:before,
.makeAddr .addr:hover:before,
.makeAddr .select:hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #ffaf40;
	z-index: 10;
	pointer-events: none;
}
.makeAddr select {
	width: 100%;
	height: 100%;
	padding: 0 10px;
}
.makeAddr select option {
	zoom: 2;
}
.makeAddr select:invalid {
	color: gray;
}
.makeAddr input {
	width: 100%;
}
.makeAddr select:focus,
.makeAddr input:focus {
	outline-color: #ffaf40;
}
.makeAddr button {
	width: 100px;
	height: 50px;
	background: #ff9f1a;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.makeAddr button:hover {
	background: #f38e00;
}

/* address list */
.userName {
	margin: 50px 0 0;
}
.addressList {
	margin: 10px 0 0;
	background:#fff;
}
.addressList table {
	width: 100%;
}
.addressList tbody tr:hover {
	background: #ffe08c;
}
.addressList th {
	color: #3d3d3d;
}
.addressList th,
.addressList td {
	padding: 10px;
	border: 1px solid #e9e9e9;
	text-align: center;
	font-size: 14px;
	color: #4b4b4b;
}
.addressList .address {
	width: 60%;
	text-align: left;
}
.addressList .remove {
	cursor:pointer;
	padding:5px 10px;
	border-radius: 15px;
	background:#ff4d4d;
	color:#fff;
}
.addressList .modify {
	cursor:pointer;
	padding:5px 10px;
	border-radius: 15px;
	background:#ff9f1a;
	color:#fff;
}
.addressList .remove:not(:only-child):not(:first-child) {
	margin-left:5px;
}